.back {
  background-color: rgb(0, 0, 0, 0.8);
  position: fixed;
  display: flex;
  height: 100%;
  width: 100%;
  z-index: 2;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.floatCorner {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  z-index: 3;

  /* made a nice button */
  border-radius: 5%;
  border: none;
  background-color: #ffffff00;
  color: white;
  font-size: x-large;
}

.meChange {
  display: flex;
  flex-direction: row;
}

@media (max-width: 768px) {
  .meChange {
    flex-direction: column;
  }
}
