<mat-dialog-content class="mat-typography">
  <div *ngIf="!loading" class="d-flex justify-content-center">
    <mat-spinner></mat-spinner>
  </div>

  <div class="meChange" *ngIf="loading">
    <div class="d-flex flex-column w-25">
      <img [src]="anime.image" width="100%" />
      <div *ngIf="anime.alternativeNames">
        <ul role="list" *ngFor="let altName of anime.alternativeNames">
          <li role="listitem">{{ altName.name }}</li>
        </ul>
      </div>
    </div>

    <div class="p-2 text-white d-flex flex-column w-75">
      <button class="floatCorner" mat-dialog-close>X</button>

      <h1 style="width: 90%">{{ anime.name }}</h1>

      <div class="d-flex">
        <h4 *ngFor="let study of anime.studies">
          {{ study.name }}
        </h4>

        <button mat-icon-button (click)="openLink(anime.url)">
          <mat-icon>open_in_new</mat-icon>
        </button>

        <button
          mat-icon-button
          (click)="watchAnime(anime.id)"
          *ngIf="anime.numberEpisodes != 0"
        >
          <mat-icon>visibility</mat-icon>
        </button>
      </div>

      <div *ngIf="anime.genres">
        <mat-chip-set>
          <mat-chip *ngFor="let altGen of anime.genres">
            {{ altGen.name }}
          </mat-chip>
        </mat-chip-set>
      </div>

      <div class="pb-4">{{ anime.description }}</div>

      <form class="d-flex" [formGroup]="reviewForm" (ngSubmit)="sendReview()">
        <mat-form-field>
          <input
            matInput
            type="number"
            placeholder="0-5"
            formControlName="calification"
            step="0.5"
            min="0"
            max="5"
            (ngModelChange)="setQualification($event)"
          />
        </mat-form-field>

        <app-starts [qualification]="qualification"></app-starts>

        <!-- <mat-checkbox formControlName="review">Visto</mat-checkbox> -->

        <mat-form-field>
          <mat-label>Tipo</mat-label>
          <mat-select formControlName="type" value="0">
            <mat-option value="0">No Visto</mat-option>
            <mat-option value="1">Visto</mat-option>
            <mat-option value="2">Viendo</mat-option>
            <mat-option value="3">Abandonado</mat-option>
            <mat-option value="4">Pendiente</mat-option>
          </mat-select>
        </mat-form-field>

        <button mat-icon-button>
          <mat-icon>send</mat-icon>
        </button>
      </form>
    </div>
  </div>
</mat-dialog-content>
