<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{ object.name }}</mat-card-title>
    <mat-card-subtitle>{{ object.subname }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="object.image" alt="Photo of a Shiba Inu" />
  <mat-card-content>
    <p class="mt-2 text-white">
      {{ object.description }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary">Puntuar</button>
  </mat-card-actions>
</mat-card>
